/*======== Google Fonts =======*/
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@600;700&display=swap');

/* 
font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
*/

/* ==================================
            Default Style
===================================== */

:root {
    --primary-color: #e02c6d;
    --dark-color: #3a3a3a;
    --deep-dark-color: #0a0826;
    --black-color: #000000;
    --dark-gradient: linear-gradient(
        90deg,
        rgba(203, 192, 218, 0.1) 0%,
        rgba(192, 204, 218, 0.5970763305322129) 50%,
        rgba(192, 204, 218, 0.1) 100%
    );
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* ==================================
            Header Style
===================================== */
