/*======== Google Fonts =======*/
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@600;700&display=swap');

/* 
font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
*/

/* ==================================
            Default Style
===================================== */

:root {
    --primary-color: #e02c6d;
    --white-color: #ffffff;
    --dark-color: #3a3a3a;
    --deep-dark-color: #0a0826;
    --black-color: #000000;
    --dark-gradient: linear-gradient(
        90deg,
        rgba(192, 204, 218, 0.05) 0%,
        rgba(192, 204, 218, 0.4) 50%,
        rgba(192, 204, 218, 0.05) 100%
    );
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1140px;
    width: calc(100% - 60px);
    margin: 0 auto;
}

#menu,
.navbar label,
.cart {
    display: none;
}
/* 
#menu:checked ~ .navigation {
    display: none;
}
*/

a {
    text-decoration: none;
}

.img-fluid {
    height: auto;
    max-width: 100%;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.row .col-50 {
    width: 52%;
}

.row .col-40 {
    width: 42%;
}

.theme-btn {
    color: var(--white-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    background: var(--primary-color);
    padding: 12px 30px;
    border-radius: 30px;
    display: inline-flex;
    align-items: center;
}

.theme-btn .iconify {
    margin-left: 8px;
}

/* ==================================
            Header Style
===================================== */
header {
    height: auto;
    width: 100%;
    overflow: hidden;
    padding: 70px 0 35px;
    background: var(--white-color);
}

.logo {
    color: var(--dark-color);
    font-size: 24px;
    font-weight: 700;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.navigation li {
    margin-left: 25px;
}

.navigation li a {
    color: var(--dark-color);
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

header .iconify {
    font-size: 25px;
}

/* ==================================
            Hero Area Style
===================================== */

.hero-area {
    padding: 30px 0 60px;
}

.hero-area h1 {
    color: var(--dark-color);
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 10px;
}

.hero-area p {
    color: var(--dark-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 22px;
}

/* ==================================
            Partners Style
===================================== */
.partners {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 30px;
    border: 2px solid;
    border-image: var(--dark-gradient);
    border-image-slice: 1;
    border-left: none;
    border-right: none;
    padding: 30px 0;
}

.partner {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ==================================
            Collections Style
===================================== */
.collections {
    padding: 120px 0;
    text-align: right;
}

.collections h2 {
    color: var(--dark-color);
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 50px;
}

.collection-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 30px;
    margin-bottom: 50px;
}

.collections .item {
    padding: 20px;
    border-radius: 15px;
    text-align: left;
    box-shadow: 0px 0px 30px rgba(192, 204, 218, 0.4);
}

.collections .item img {
    border-radius: 10px;
    width: 100%;
}

.collections .item a {
    color: var(--deep-dark-color);
    font-size: 30px;
    font-weight: 600;
    line-height: 1.2;
    display: block;
    margin: 10px 0 0;
}

.collections .item h3 {
    color: var(--deep-dark-color);
    font-size: 30px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    line-height: 1.2;
    margin: 10px 0;
}

.collections .item .ratings {
    display: flex;
    align-items: center;
}

.ratings ul {
    margin: 0;
    padding: 0;
}

.ratings ul li {
    color: rgb(255, 145, 49);
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}

.ratings ul li .iconify {
    font-size: 18px;
    margin-top: 3px;
}

.ratings strong {
    color: var(--dark-color);
    margin-left: 10px;
    line-height: 1;
}

.collections .item > ul {
    margin: 0;
    padding: 0;
}

.collections .item > ul li {
    color: #656565;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.4;
    list-style: none;
    margin-bottom: 0;
}

.collections a {
    color: var(--primary-color);
    font-size: 16px;
    font-size: 600;
    display: inline-flex;
    align-items: center;
}
.collections a .iconify {
    margin-left: 8px;
}
